In [2]:
##Package Import
import pandas as pd
import geopandas as gpd
import keplergl

In [5]:
##Dataframe Import
NYC_Accidents = pd.read_csv('NYC Accidents 2020.csv')

In [9]:
##Missing Data Check

print('Longitude: ',NYC_Accidents['LONGITUDE'].isnull().values.any())
print('Latitude: ',NYC_Accidents['LATITUDE'].isnull().values.any())

Longitude:  True
Latitude:  True

In [21]:
##Clean Up (remove NAs/convert long/lat to number from general)
NYC_Accidents['LONGITUDE'] = pd.to_numeric(NYC_Accidents['LONGITUDE'] , errors='coerce')
NYC_Accidents['LATITUDE'] = pd.to_numeric(NYC_Accidents['LATITUDE'], errors='coerce')
NYC_Accidents['NUMBER OF PERSONS INJURED'] = pd.to_numeric(NYC_Accidents['NUMBER OF PERSONS INJURED'], errors='coerce')
NYC_Accidents.dropna(subset=['LONGITUDE', 'LATITUDE', 'BOROUGH','NUMBER OF PERSONS INJURED'], inplace=True)

NYC_Accidents.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2020-08-29,15:40:00,BRONX,10466.0,40.892100,-73.833760,POINT (-73.83376 40.8921),PRATT AVENUE,STRANG AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4342908,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,2020-08-29,21:00:00,BROOKLYN,11221.0,40.690500,-73.919914,POINT (-73.919914 40.6905),BUSHWICK AVENUE,PALMETTO STREET,NaN,...,Unspecified,NaN,NaN,NaN,4343555,Sedan,Sedan,NaN,NaN,NaN
3,2020-08-29,00:00:00,BRONX,10459.0,40.824720,-73.892960,POINT (-73.89296 40.82472),NaN,NaN,1047 SIMPSON STREET,...,Unspecified,Unspecified,Unspecified,NaN,4343588,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Motorcycle,NaN
4,2020-08-29,17:10:00,BROOKLYN,11203.0,40.649890,-73.933890,POINT (-73.93389 40.64989),NaN,NaN,4609 SNYDER AVENUE,...,Unspecified,NaN,NaN,NaN,4342953,Sedan,Sedan,NaN,NaN,NaN
6,2020-08-29,19:30:00,BRONX,10459.0,40.825226,-73.887780,POINT (-73.88778 40.825226),LONGFELLOW AVENUE,EAST 165 STREET,NaN,...,NaN,NaN,NaN,NaN,4343004,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [13]:
##Kepler Map

NYC_Accidents_Map = keplergl.KeplerGl(height=400)

NYC_Accidents_Map.add_data(data=NYC_Accidents[['CRASH DATE','LONGITUDE', 'LATITUDE', 'BOROUGH','NUMBER OF PERSONS INJURED']], name="NYC Accidents")

NYC_Accidents_Map

##Covers the whole world, and too broad

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'NYC Accidents': {'index': [0, 1, 3, 4, 6, 8, 9, 10, 11, 12, 13, 16, 17, 18, 19, 20, 24, 25, 26…

In [29]:
##Kepler Map With Filter

NYC_Accidents_Map = keplergl.KeplerGl(height=400)

NYC_Accidents_Map.add_data(data=NYC_Accidents[['CRASH DATE','LONGITUDE', 'LATITUDE', 'BOROUGH','NUMBER OF PERSONS INJURED']][(NYC_Accidents['NUMBER OF PERSONS INJURED']>=1)], name="NYC Accidents")

NYC_Accidents_Map

##Accidents with injuries over 1
##View set can be change by Kepler GUI

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'NYC Accidents': {'index': [1, 12, 17, 18, 19, 20, 26, 28, 31, 33, 37, 38, 40, 45, 64, 66, 71, …